#btn-secundary-rd3w{
    color: #fffffa;
}
#btn-secundary-rd3w:hover{
    border:2px solid #495057;
    color: #fffffa;

}
.hover_projeto{
    transition: 0.5s;
 }

.hover_projeto:hover{
   box-shadow: 2px 2px 3px #495057 ;
   transition: 0.5s;
   transform: scale(1.03);
}
